<div class="flex justify-center items-center w-screen bg-gray-200">
  <div class="h-full w-1/2 bg-white rounded-lg shadow-lg">
    <div class="chat-window h-full flex flex-col">
      <div class="chat-header bg-gray-300 py-2 px-4 flex justify-between items-center">
        <span class="font-semibold">Chat With Admin</span>
      </div>
      <div class="chat-body flex-1 overflow-y-auto px-4 py-2">
        <ul class="chat-messages">
          <ng-container *ngFor="let message of chatMessages">
            <li [ngClass]="{'flex justify-end': message.sender === user.id, 'flex justify-start': message.sender !== admin.id}" class="mb-2">
              <span [ngClass]="{'sender-message': message.sender === user.id, 'receiver-message': message.sender === admin.id}" class="chat-message p-2 m-1 rounded-lg">{{ message.content }}</span>
              <span class="timestamp">{{ message.timestamp | date: 'MMMM d, y, h:mm a'}}</span>

            </li>
          </ng-container>
        </ul>
      </div>
      <div class="chat-input flex items-center">
        <input type="text" [(ngModel)]="newMessage" placeholder="Enter a message..." class="flex-1 px-4 py-2 rounded-l-lg">
        <button (click)="sendMsg()" class="bg-blue-500 text-white px-4 py-2 rounded-r-lg">Send</button>
      </div>
    </div>
  </div>
</div>



