/* .chat-list {
    list-style: none;
    padding: 0;
  }
  
  .chat-list button {
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .chat-list button:hover {
    background-color: #f4f4f4;
  }
  
  .chat-list button:focus {
    outline: none;
  } */
  
  .chat-window {
    height: 80vh;
  }
  
  
  .chat-body {
    max-height: calc(100% - 50px);
  }
  
  
  .chat-messages {
    list-style: none;
    padding: 0;
  }
  
  .chat-message {
    max-width: 70%;
    display: inline-block;
    word-wrap: break-word;
  }
  
  .sender-message {
    background-color: #2196F3;
    color: white;
  }
  
  .receiver-message {
    background-color: #E0E0E0;
    color: black;
  }
  
  .chat-input input {
    border-radius: 4px;
    outline: none;
  }
  
  .chat-input label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  .emoji-button {
    cursor: pointer;
    font-size: large;
    padding: 1.5%;
  }
  
  .send-button {
    background-color: #928e94;
    color: white;
    font-weight: 400;
    font-family: sans-serif;
    padding: 6px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .send-button:hover {
    background-color: #6b696c;
  }
  
  input[type="file"] {
    display: none;
  }
