.chat-list {
    list-style: none;
    padding: 0;
  }
  
  .chat-list button {
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .chat-list button:hover {
    background-color: #f4f4f4;
  }
  
  .chat-list button:focus {
    outline: none;
  }
  
  .chat-window {
    height: 80vh;
  }
  
  /* Set max height for chat messages and add overflow */
  .chat-body {
    max-height: calc(100% - 50px);
  }
  
  /* List styles for chat messages */
  .chat-messages {
    list-style: none;
    padding: 0;
  }
  
  /* Message styling */
  .chat-message {
    max-width: 70%;
    display: inline-block;
    word-wrap: break-word;
  }
  
  /* Sender message styles */
  .sender-message {
    background-color: #2196F3;
    color: white;
  }
  
  /* Receiver message styles */
  .receiver-message {
    background-color: #E0E0E0;
    color: black;
  }
  
  /* Chat input field styles */
  .chat-input input {
    border: 1px solid #525252;
    border-radius: 4px;
    outline: none;
  }
  
  /* File upload button styles */
  .chat-input label {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
  }
  
  /* Emoji button styles */
  .emoji-button {
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: large;
    padding: 1%;
  }
  
  /* Send button styles */
  .send-button {
    background-color: #89eb20;
    color: rgb(2, 1, 1);
    border: 2px solid #000000;
    padding: 6px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .send-button:hover {
    background-color: #54b300;
  }
  
  /* Hide default file input */
  input[type="file"] {
    display: none;
  }