input.ng-invalid.ng-touched {
  border: red 1px solid;
}

h1 {
  margin: 6%;
  text-align: center;
  font-family: "Montez", cursive;
  font-size: xx-large;
  color: #fcda9a;
}
mat-card {
  height: auto;
  width: 30rem;
  padding: 2rem;
  background-color: #0f101c;
}

button {
  margin-bottom: 3%;
}
button:hover{
    background-color: #212231;
    color: white;
}

.body {
  background-image: url("/assets/page-title-2-1920x704.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
