input.ng-invalid.ng-touched{
    border: red 1px solid;
}

img{
    min-height: inherit;
 }
 mat-card {
    background:rgb(255 203 50);
    height: auto;
    width: 25rem;
    padding: 2rem;

}

button {
    margin-bottom: 3%;
}
mat-form-field{
    margin-top: 1rem;
}

