<div class="h-screen w-full flex justify-center body">
  <div class="h-full w-1/2 post-container flex justify-center items-center">
    <div class="w-1/5">
      <img src="/assets/spices-left.png" alt="Herbs" class="rounded-full shadow-lg">
    </div>
    <div class="w-3/5 centre-content">
      <div class="text-center">
        <h3><span>Our History</span></h3>
      </div>
      <div class="text-center">
        <h3>LOVE FOR FOOD</h3>
      </div>
      <p class="text-zinc-600 p-10 text-center justify-center">
        Welcome to Maxi-G Catering, where sophistication meets culinary excellence. 
        From intimate gatherings to grand celebrations, we specialize in creating unforgettable experiences. 
        With our exquisite menu options and impeccable service, we guarantee to elevate your event to new heights. 
        Experience seamless coordination, impeccable presentation, and the finest ingredients with Maxi-G Catering.
        Indulge in the extraordinary, let Maxi-G Catering make your event truly unforgettable.
      </p>
    </div>
    <div class="w-1/5">
      <img src="/assets/spices-right.png" alt="Spices" class="rounded-full shadow-lg">

    </div>
  </div>
</div>



<!-- <div class="bg-white font-sans">
  <div class="flex justify-center items-center min-h-screen bg-white p-4">
    <div class="max-w-4xl mx-auto bg-zinc-100 p-8 shadow-lg rounded-lg">
      <div class="grid grid-cols-3 gap-4">
        <div class="col-span-1">
          <img src="/assets/spices-left.png" alt="Herbs" class="rounded-full shadow-lg">
        </div>
        <div class="col-span-1 text-center">
          <h1 class="text-3xl font-bold text-zinc-800 mb-3">Our History</h1>
          <h2 class="text-xl text-zinc-600 mb-3">LOVE FOR FOOD</h2>
          <p class="text-zinc-600 p-10">
            Welcome, This is Royal plate. Elegant & sophisticated restaurant template. Royal plate offers different
            home page layouts with smart and unique design, showcasing beautifully designed elements every
            restaurant website should have. Smooth animations, fast loading and engaging User experience are just
            some of the features this template offers. So, give it a try and dive into a world of royal restaurant
            websites.
          </p>
        </div>
        <div class="col-span-1" >
          <img src="/assets/spices-right.png" alt="Spices" class="rounded-full shadow-lg">
        </div>
      </div>
    </div>
  </div>
</div> -->