<div class=" bg-slate-950 relative h-screen">
  <div class="body flex justify-center absolute top-[5rem] w-full flex-col md:flex-row items-center md:items-start">
    <div class="h-auto w-1/2 post-container">
      <ng-container *ngIf="user?.role === 'PARTNER' ">
        <form enctype="multipart/form-data" [formGroup]="feedForm" (ngSubmit)="addFeed()">
          <h1>Post Your Feed</h1>
          <div class="flex justify-center">
            <textarea type="text" placeholder="Type Something...." formControlName="content"></textarea>
            <div>
              <label for="file-upload" class="custom-file-upload">
                <ng-container *ngIf="imageSrc">
                  <img [src]="imageSrc" alt="selected image" width="50" height="50">
                </ng-container>
                <ng-container *ngIf="!imageSrc">
                  <mat-icon>add_a_photo</mat-icon>
                </ng-container>
              </label>
              <input id="file-upload" type="file" (change)="postImage($event)" />
              <br>
              <button type="submit"
                class="items-end py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100">Post</button>
            </div>
          </div>
        </form>
      </ng-container>
      
      <app-offer></app-offer>
    </div>
    <div class="feeds-container w-1/2 h-screen m-3">
      <div class="rounded-lg shadow-md  py-1 px-2">
        <ng-container *ngFor="let feed of feeds">
          <div class="feed-item border-b-2 border-gray-200 pb-4 mb-4">
            <div class="flex items-center space-x-3 p-4 outline rounded-md">
              <img class="w-10 h-10 rounded-full object-cover" [src]="feed.user.imageUrl || '/assets/icons/Profile-PNG-File.png'" alt="Profile picture">
              <div>
                <p class="font-semibold text-white">{{ feed.user.name }}</p>
                <p class="text-sm text-white">{{ feed.createdAt | date:'MMMM d, y'}}</p>
              </div>
            </div>
            <img class="w-full rounded-md" [src]="feed.imageUrl" alt="Dance performance">
            <div class="px-4 py-3 outline">
              <p class="text-white">{{ feed.content }}</p>
            </div>
            <!-- <div class="px-4 py-3 flex items-center justify-between">
              <div class="flex space-x-1 ">
                <button><mat-icon>favorite_border</mat-icon></button>
              </div>
            </div> -->
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<!-- <app-content></app-content> -->