<form [formGroup]="foodComboForm" enctype="multipart/form-data" (ngSubmit)="onaddCombos()">
  <h1 mat-dialog-title>{{ inputData.title }}</h1>
  <div mat-dialog-content>

    <mat-form-field class="mat-50" *ngIf="!inputData.isEdit">
      <mat-label>Select category</mat-label>
      <!-- <input matInput> -->
      <mat-select formControlName="categoryId">
        <mat-option [value]="categories.id"
          *ngFor="let categories of categoryList ">{{categories.categoriesName}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>ComboName</mat-label>
      <input formControlName="comboName" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <input formControlName="description" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Combo Price</mat-label>
      <input formControlName="comboPrice" matInput>
    </mat-form-field>

    <div class="col">
      <input type="file" (change)="handleFileChange($event)" />
  </div>

  </div>
  <div mat-dialog-actions>
    <a (click)="closePopup()" mat-raised-button color="warn">Close</a>
    <button mat-raised-button color="primary" type="submit">save</button>

  </div>
</form>