
<div class="navbar navbar-glass bg-red-950 h-[6rem]">
	<div class="navbar-start">
		<a class="title-style text-white">MAXI-G</a>
        <a class="sub-style text-white underline">Catering & Events</a>
	</div>
	<div class="navbar-end">
		<a class="navbar-item text-white" [routerLink]="['/']">Home</a>
        <a class="navbar-item text-white">About</a>
		<a class="navbar-item text-white" [routerLink]="['/auth']">Login</a>
        <a class="navbar-item text-white" [routerLink]="['/auth/register']">SignUp</a>
        
	</div>
</div>

