<div class="flex justify-evenly h-auto w-auto m-5">
    <div class="w-1/3 h-full">
        <mat-card>
            <mat-card-title>Order Details</mat-card-title>
            <mat-card-actions>
                <button *ngIf="!orderAccepted && order?.status === 'PENDING'" (click)="acceptOrder()"
                    mat-raised-button>Accept
                    Order</button>
                <button (click)="processOrder(order.id)" mat-raised-button>Process Order</button>
            </mat-card-actions>
            <mat-card-header>
                <mat-card-subtitle *ngIf="order?.user">User : {{ order.user.userName | uppercase }}</mat-card-subtitle>
                <mat-card-subtitle *ngIf="order?.user">Email : {{ order.user.email }}</mat-card-subtitle>
                <mat-card-subtitle *ngIf="order?.user">Phone : {{ order.user.phoneNumber }}</mat-card-subtitle>
            </mat-card-header>
            <p *ngIf="order?.orderDate">Order Received on : {{ order.orderDate| date :'MMM d, y'}}</p>
            <p *ngIf="order?.date">Order Date: {{ order.date | date :'MMM d, y'}}</p>
        </mat-card>
    </div>

    <div class="w-1/3 h-full">
        <mat-card *ngIf="order">
            <mat-card-title>Ordered Menu</mat-card-title>
            <ng-container *ngFor="let combo of foodCombos">
                <ul>
                    <li>{{combo.comboName }}</li>
                </ul>
            </ng-container>
            <ng-container *ngFor="let item of foodItems">
                <ul>
                    <li>{{ item.itemName}}</li>
                </ul>
            </ng-container>
            <mat-card-title>Event Details</mat-card-title>
            <p> People Count :{{ order.peopleCount }}</p>
            <p> Event :{{ order.events.eventName}}</p>
            <p> Venue :{{ order.venue }}</p>
        </mat-card>
    </div>
    <div class="w-1/3 h-full">
        <mat-card *ngIf="order">
            <mat-card-title>Location</mat-card-title>
            <div>
                <p>{{ order.userLocation.name}}</p>
                <p>{{ order.userLocation.place}}</p>
                <p>{{ order.userLocation.address}}</p>
            </div>
        </mat-card>
    </div>

</div>