<app-navbar></app-navbar>
<div class="flex-container flex justify-center items-center h-screen">
    <div class="relative flex md:justify-center md:items-center  bg-slate-950">
        <div>
            <img [src]="imagePath2" class="w-full h-full object-fill">
        </div>
        <div class="content absolute flex flex-col justify-center items-center text-center w-full h-full">
            <div class="m-5">
                <h3>Discover</h3>
            </div>
            <div>
                <h1>Maxi -G</h1>
                <h2>Events & Catering Service</h2>
                <div>
                    <button
                        class="text-yellow-500 text-xl mt-2 md:text-2xl lg:text-2xl font-extrabold shadow-xl md:px-3 md:py-2 lg:py-2 lg:px-3 rounded-full md:border-2 md:border-yellow-500 md:mt-3 lg:mt-3 hover:bg-slate-950 hover:text-white transition duration-300 ease-in-out"
                        [routerLink]="['/user/user-order']">Order Now
                    </button>
                </div>
            </div>
        </div>
    </div>  
</div>
<bottom-session></bottom-session>









<!-- 
<div class="relative h-screen w-screen flex justify-between items-center flex-wrap bg-yellow-100">
    <div class="h-3/6 w-3/6 object-cover">
        <img [src]="imagePath2">
       
    </div>
    <div class="h-3/6 w-3/6 object-cover">
        <img [src]="imagePath" class="img-stye">
        
    </div>
    <div class="absolute right-14">
        <h2 class="desc-style text-white">Maximum guarantee</h2>
        <h2 class="desc-style text-yellow-500 pl-72">of your</h2>
        <h2 class="desc-style text-white pl-64">Dreams</h2>
    </div>
    <div class="buynow-btn absolute  right-32 bottom-28">
        <button class="drop-shadow-lg rounded-lg text-lg p-3 bg-yellow-300 text-red-950">
            <a [routerLink]="['/auth']">Book Now</a>
        </button>
    </div>
</div> -->