<app-navbar></app-navbar>
<div class="flex relative">
    <div>
        <img [src]="imagePath2">
    </div>
    <div class="absolute right-14 bottom-[27rem] opacity-75 hidden md:block">
        <h2 class="desc-style text-yellow-200 ">Maximum guarantee</h2>
        <h2 class="desc-style text-white pl-72">of your</h2>
        <h2 class="desc-style text-white pl-64">Dreams</h2>
    </div>
    <div class="buynow-btn absolute  right-32 bottom-[22rem] hidden md:block">
        <button class="drop-shadow-lg rounded-lg text-lg p-3 bg-yellow-400 text-red-950 "(click)="onLogin()">
            Book Order
        </button>
    </div>
</div>
<bottom-session></bottom-session>









<!-- 
<div class="relative h-screen w-screen flex justify-between items-center flex-wrap bg-yellow-100">
    <div class="h-3/6 w-3/6 object-cover">
        <img [src]="imagePath2">
       
    </div>
    <div class="h-3/6 w-3/6 object-cover">
        <img [src]="imagePath" class="img-stye">
        
    </div>
    <div class="absolute right-14">
        <h2 class="desc-style text-white">Maximum guarantee</h2>
        <h2 class="desc-style text-yellow-500 pl-72">of your</h2>
        <h2 class="desc-style text-white pl-64">Dreams</h2>
    </div>
    <div class="buynow-btn absolute  right-32 bottom-28">
        <button class="drop-shadow-lg rounded-lg text-lg p-3 bg-yellow-300 text-red-950">
            <a [routerLink]="['/auth']">Book Now</a>
        </button>
    </div>
</div> -->