.chat-window {
  height: 80vh;
}

.chat-body {
  max-height: calc(100% - 50px);
}

.chat-messages {
  list-style: none;
  padding: 0;
}

.chat-message {
  max-width: 70%;
  display: inline-block;
  word-wrap: break-word;
}

.sender-message {
  background-color: #2196f3;
  color: white;
}

.receiver-message {
  background-color: #e0e0e0;
  color: black;
}

.chat-input input {
  border-radius: 4px;
  outline: none;
}

.chat-input label {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.emoji-button {
  cursor: pointer;
  font-size: large;
  padding: 1.5%;
}

.send-button {
  background-color: #828492;
  color: white;
  font-weight: 400;
  font-family: sans-serif;
  padding: 6px 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.send-button:hover {
  background-color: #6b696c;
}

input[type="file"] {
  display: none;
}
.chat-component {
  background-image: url("/assets/page-title-1-1920x704.jpeg");
  background-size: cover;
  background-position: center;
}
.chat-container {
  background: transparent;
  border: 3px solid lavenderblush;
}

input[type="file"] {
  display: none;
}

mat-icon {
  color: white;
}
.message-status {
  font-size: 0.8em;
  color: blue;
}

.notification-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 3px 7px;
  font-size: 10px;
}

.chat-indicator-button {
  position: relative;
}
.material-icons {
  color: white;
}
