

<form [formGroup]="addItemForm" enctype="multipart/form-data" (ngSubmit)="onaddItem()">
    <h1 mat-dialog-title>{{ inputData.title }}</h1>
    <div mat-dialog-content>

      <mat-form-field class="mat-50">
        <mat-label>Select category</mat-label>
        <!-- <input matInput> -->
        <mat-select formControlName="category">
            <mat-option [value]="item" *ngFor="let item of items ">{{item}}</mat-option>
        </mat-select>
    </mat-form-field>
      <mat-form-field>
        <mat-label>Item Name</mat-label>
          <input formControlName="itemName" matInput>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Item Price</mat-label>
          <input formControlName="itemPrice" matInput>
      </mat-form-field>
  
      
  
    </div>
    <div mat-dialog-actions>
      <a (click)="closePopup()" mat-raised-button color="warn">Close</a>
      <button mat-raised-button color="primary" type="submit">save</button>
  
    </div>
    </form>