

<form [formGroup]="addItemForm" enctype="multipart/form-data" (ngSubmit)="onaddItem()">
    <h1 mat-dialog-title>{{ inputData.title }}</h1>
    <div mat-dialog-content>
      <mat-error *ngIf="showErrorMessage | async as error"> <b>{{ error }}</b></mat-error>

      <mat-form-field class="mat-50" *ngIf="!inputData.isEdit">
        <mat-label>Select category</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option [value]="categories.id"
            *ngFor="let categories of categoryList ">{{categories.categoriesName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Item Name</mat-label>
          <input formControlName="itemName" matInput>
          <mat-error *ngIf="addItemForm.controls['itemName'].errors?.['whitespace']">*Enter valid ItemName</mat-error>
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Item Price</mat-label>
          <input formControlName="itemPrice" matInput type="number">
          <mat-error *ngIf="addItemForm.controls['itemPrice'].errors?.['whitespace']">*Enter valid Price</mat-error>
      </mat-form-field>
  
      
  
    </div>
    <div mat-dialog-actions>
      <a (click)="closePopup()" mat-raised-button color="warn">Close</a>
      <button mat-raised-button color="primary" type="submit">save</button>  
    </div>
    </form>