<div class="flex justify-center items-center min-h-screen bg-yellow-400">

  <div class="w-3/5 min-h-screen hidden md:block">
    <img [src]="imgPath">
  </div>

  <div class=" w-2/5 h-full flex flex-col justify-center items-center">
    <mat-error *ngIf="showErrorMessage | async as error"> <b>{{ error }}</b></mat-error>

    <form [formGroup]="loginForm" (ngSubmit)="onLoginUser()">
      <mat-card>
        <h1 class="text-white font-extrabold">Login</h1>
        <mat-card-content>
          <p>
            <mat-form-field>
              <mat-label>Enter Your Email</mat-label>
              <input matInput formControlName="email" style="border: none;">
              <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                *Email Required</mat-error>
              <mat-icon matSuffix> email</mat-icon>
            </mat-form-field>
          </p>

          <p>
            <mat-form-field>
              <mat-label>Enter Your Password</mat-label>
              <input matInput formControlName="password" type="password" style="border: none;">
              <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                * Password Required</mat-error>
              <mat-icon matSuffix>fingerprint</mat-icon>
            </mat-form-field>
          </p>

        </mat-card-content>

        <mat-card-footer>

          <div class="flex flex-col items-center justify-center">
            <button mat-raised-button type="submit">Login</button>
            <a [routerLink]="['/auth/register']"
              class="inline-flex items-center font-bold text-white hover:text-gray-400 text-xs text-center pb-4">
              <span class="ml-2">You don't have an account?</span>
            </a>
            <div id="google-btn" class="text-center"></div>
          </div>

        </mat-card-footer>
      </mat-card>

    </form>
  </div>
</div>