 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}  */

/* body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
} */

 img{
    min-height: inherit;
 }

 input.ng-invalid.ng-touched{
    border: red 1px solid;
}
mat-card {
    background:rgb(241, 195, 30);
    height: 25rem;
    width: 25rem;
    padding: 3rem;
}
button {
    margin: 4%;
}








 
