<div class="flex items-center justify-center">
  <mat-card>
    <mat-card-header>
      <h1>Assign Teams</h1>
    </mat-card-header>
    <form [formGroup]="orderProcessingForm" (ngSubmit)="onOrderProcessingForm()">
      <div mat-dialog-content>

        <h3>Kitchen Crews</h3>
        <mat-form-field>
          <mat-label>Select Team</mat-label>
          <mat-select formControlName="kitchenCrewId">
            <mat-option [value]="team.id" *ngFor="let team of kitchenCrew ">{{ team.teamName }}</mat-option>
          </mat-select>
        </mat-form-field>

        <h3>Service Crews</h3>
        <mat-form-field>
          <mat-label>Select Team</mat-label>
          <mat-select formControlName="servingTeamId">
            <mat-option [value]="team.id" *ngFor="let team of servingTeam ">{{ team.teamName }}</mat-option>
          </mat-select>
        </mat-form-field>
     <ng-container *ngIf="order?.decorationOption ==='YES'">
        <h3>Decoration Crews</h3>
        <mat-form-field>
          <mat-label>Select Team</mat-label>
          <mat-select formControlName="decorationTeamId">
            <mat-option [value]="team.id" *ngFor="let team of decorationTeam ">{{ team.teamName }}</mat-option>
          </mat-select>
        </mat-form-field>
      </ng-container>


      </div>
      <div mat-dialog-actions>
        <a (click)="closePopup()" mat-raised-button color="warn">Close</a>
        <button mat-raised-button color="primary" type="submit">save</button>
      </div>
    </form>
  </mat-card>
</div>