@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.title-style {
  font-family: "Italianno", cursive;
  font-size: x-large;
}
.sub-style {
  font-family: "Italiana", sans-serif;
}
.nav-items ul li button {
  border: none;
  font-family: "Montserrat", Arial, sans-serif;
  text-transform: uppercase;
}

.active {
  color: rgb(255, 197, 8);
}
