body {
    margin: 0;
    --primary-color: #cc0000;
}

.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar{
    background-color: rgb(8, 8, 19);
    height: 6rem;
    color: white;
}

button {
    margin: 1%;
}

mat-sideav,
mat-sidebar-content {
  transition: all 500ms ease-in-out;
}





