<div class="h-full w-full flex justify-center items-center">
    <div>
      <mat-card>
        <form [formGroup]="createPartnerForm" (ngSubmit)="onCreatePartner()">
          <h1>Create Partner</h1>
          <mat-card-content>
            <p>
              <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput formControlName="userName" style="border: none;">
                <mat-error *ngIf="createPartnerForm.controls['userName'].errors?.['required']">* Username Required</mat-error>
                <mat-error *ngIf="createPartnerForm.controls['userName'].errors?.['whitespace']">*Enter valid username</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" style="border: none;">
                <mat-error *ngIf="createPartnerForm.controls['email'].errors?.['required']">* Email Required</mat-error>
                <mat-error *ngIf="createPartnerForm.controls['email'].errors?.['email']">* Enter Proper Email</mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <mat-label>Phonenumber</mat-label>
                <input matInput formControlName="phoneNumber" style="border: none;">
                <mat-error *ngIf="createPartnerForm.controls['phoneNumber'].errors?.['required']">* Phonenumber Required</mat-error>
                <mat-error *ngIf="createPartnerForm.controls['phoneNumber'].errors?.['pattern']">
                  Invalid phone number format.
                </mat-error>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type="password" style="border: none;">
                <mat-error *ngIf="createPartnerForm.controls['password'].errors?.['required']">* Password Required</mat-error>
                <mat-error *ngIf="createPartnerForm.controls['password'].errors?.['whitespace']">*Enter valid password</mat-error>
              </mat-form-field>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button type="submit">Create</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </div>
  