<mat-toolbar>
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="example-spacer"><img [src]="logo" class=" h-[6rem] w-[10rem]"></span>

    <button mat-raised-button [routerLink]="['/user/home']">Home</button> 
    <button mat-raised-button [routerLink]="['/chat']">Chats</button>
    
    <button mat-raised-button (click)="onLogout($event)">Logout</button>

  
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sideNavWidth()">
        <app-user-side-bar [collapsed]="collapsed()"></app-user-side-bar>
    </mat-sidenav>
    <mat-sidenav-content class="content" [style.margin-left]="sideNavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
