:host * {
  transition: all 500ms ease-in-out;
}

.example-spacer {
  flex: 1 1 auto;
}
button {
  margin: 0.5rem;
}
mat-toolbar {

  background-image: radial-gradient(
    circle at center center,
    rgb(69, 48, 242),
    rgb(63, 48, 184),
    rgb(56, 48, 125),
    rgb(50, 47, 67),
    rgb(43, 47, 8)
  );
  height: auto;
  position: relative;
  z-index: 5;
}
/* mat-sidenav {
  background-image: radial-gradient(
    circle at bottom center,
    rgb(216, 248, 247),
    rgb(253, 176, 22)
  );
} */
.content {
  padding: 24px;
}
/* mat-sidenav-container { */
  /* background-image: radial-gradient(circle at bottom center, rgb(216, 248, 247),rgb(253, 176, 22)); */
  /* background-image: radial-gradient(
    circle at bottom center,
    rgb(216, 248, 247),
    rgb(253, 176, 22)
  );
} */

mat-sideav,
mat-sidebar-content {
  transition: all 500ms ease-in-out;
}
mat-icon {
  color: white;
}
