

<div *ngIf="feeds && feeds.length > 0" class="bg-stone-200 transition-colors duration-300 overflow-y-auto body">
  <div class="container mx-auto px-2 py-6">
      <h1>My Feeds</h1>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
        <ng-container *ngFor="let feed of feeds">
          <div class="bg-slate-900 rounded-lg overflow-hidden shadow-lg">
              <img [src]="feed.imageUrl" alt="Latest News Post" class="w-full h-48 object-cover">
              <div class="p-6 flex justify-between">
                  <p class="text-white text-base mb-4">
                    {{ feed.content }}
                  </p>
                  <button (click)="onDeleteFeed(feed.id)"><mat-icon>delete</mat-icon></button>
              </div>
          </div>
        </ng-container>
      </div>
  </div>

</div>
<ng-container *ngIf="feeds && feeds.length === 0">
<div class="nofeeds flex items-center justify-center">
  <h1>No Feeds...!  Post Your First Feed</h1>
</div>
</ng-container>
