<!-- <app-navbar *ngIf="role === 'USER' "></app-navbar>
<app-navbar *ngIf="isAuthenticated"></app-navbar>
<app-admin-navbar *ngIf="role === 'ADMIN' "></app-admin-navbar> -->
<ng-container *ngIf="isAuthenticated">
    <app-navbar *ngIf="role === 'USER'"></app-navbar>
    <!-- <app-admin-navbar *ngIf="role === 'ADMIN'"></app-admin-navbar> -->
  </ng-container>
  <app-navbar *ngIf="!isAuthenticated && role === 'USER'"></app-navbar>
  
<app-loading-spinner *ngIf="showLoading | async"></app-loading-spinner>
<router-outlet />
<app-footer *ngIf="role === 'USER'"></app-footer>
