<!-- <app-navbar></app-navbar> -->

<div class="h-[26rem] w-full bg-class rounded-tl-lg drop-shadow-lg">
    <img [src]="imagePath" class="h-[26rem] w-4/6 object-none md:object-cover">
    <div class="relative">
        <h1 class="absolute bottom-[20rem] right-[4rem] title-style text-red-950">MAXI-G</h1>
        <h1 class="absolute bottom-[20rem] right-[6rem] sub-style text-red-950 underline">Catering & Events</h1>
        <div class="absolute bottom-[8rem] right-[19rem]">
            <h2 class="desc-style text-red-950">Maximum guarantee</h2>
            <h2 class=" desc-style text-red-950">of your</h2>
            <h2 class=" desc-style text-red-950">Dreams</h2>
        </div>
    </div>
    <div class="buynow-btn absolute bottom-[3rem] right-[19rem]">
        <button class="drop-shadow-lg rounded-lg text-lg p-3 bg-yellow-300 text-red-950">Book Now</button>
    </div>
</div>
<bottom-session></bottom-session>