
<!-- <app-admin-menubar></app-admin-menubar> -->
<!-- <div class="h-auto w-screen flex flex-row "> -->
 
<!-- <div class="h-auto w-full flex ml-5">-->
    <mat-card> 
      <mat-card-content>
        <mat-card-header>

          <button (click)="addItem()" mat-raised-button color="primary">Add Food Item</button>

        </mat-card-header>

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="itemName">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.itemName}}</td>
          </ng-container>

          <ng-container matColumnDef="itemPrice">
            <th mat-header-cell *matHeaderCellDef>Price</th>
            <td mat-cell *matCellDef="let element">{{ element.itemPrice }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action</th>
            <td mat-cell *matCellDef="let element">
    
                <button (click)="editItem(element.id)" mat-raised-button color="primary">Edit</button>
                <button (click)="deleteCombo(element.id)" mat-raised-button color="warn">Delete</button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

        </table>
      </mat-card-content>
      <mat-card-footer>
        <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>
      </mat-card-footer>
    </mat-card>
  <!-- </div> -->
<!-- </div> -->







