    
    <form [formGroup]="addressForm" (ngSubmit)="onConfirmOrder()" enctype="multipart/form-data">
        <mat-card>
            <h1>Add Location Details</h1>
            <mat-card-content>
                <mat-form-field>
                    <mat-label>House/AuditoriumName</mat-label>
                    <input matInput formControlName="address">
                    <mat-error *ngIf="addressForm.controls['address'].errors?.['whitespace']">*Enter valid
                        data</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Area or Locality</mat-label>
                    <input matInput formControlName="place">
                    <mat-error *ngIf="addressForm.controls['place'].errors?.['whitespace']">*Enter valid
                        data</mat-error>
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>District</mat-label>
                    <input matInput formControlName="district">
                    <mat-error *ngIf="addressForm.controls['district'].errors?.['whitespace']">*Enter valid
                        data</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Location</mat-label>
                    <input #inputField matInput [value]="placeholder" [placeholder]="placeholder">
                </mat-form-field>
                <br>
            </mat-card-content>
            <mat-card class="amoutInfo">
                <p>Total Order Amount is {{ amount }}</p>
                <p>After confirm order you have to pay Advance Payment of Rs {{ advanceAmount }}</p>
            </mat-card>
            <mat-card-actions align="end">
                <button mat-raised-button color="primary" type="submit">Confirm Order</button>
            </mat-card-actions>
        </mat-card>
    </form>
