



    <!-- <app-admin-sidebar></app-admin-sidebar> -->
    <!-- <app-admin-menubar></app-admin-menubar> -->

<!-- <router-outlet/> -->
    <div class="h-screen w-full flex justify-evenly items-center">

        <div class="bg-red-950 h-40 w-40 text-white"> <a [routerLink]="['/admin/all_combos']">FoodItems</a></div>
        <div class="bg-red-950 h-40 w-40 text-white"> <a [routerLink]="['/admin/food-items']">Items</a></div>
        <div class="bg-red-950 h-40 w-40">Users</div>
        <div class="bg-red-950 h-40 w-40"></div>
        
        <div></div>
    </div>

