.container {
  max-width: 1200px;
  margin: auto;
  overflow-y: auto;
  height: 80vh;
  background-image: url("/assets/page-title-5-1920x704.jpeg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
h1 {  
  align-items: center;
  padding: 1%;
  text-align: center;
  font-family: "Montez", cursive;
  font-size: xx-large;
  font-weight: 900;
  color: wheat;
}

@media (min-width: 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
