<div class="relative bg-slate-900 h-1/2">
  <div class="flex justify-start absolute top-[6rem] w-1/4">
    <div class="w-full m-3">
      <div class="flex flex-col justify-center items-center">
        <div class="flex flex-col items-center w-36 h-36 object-cover relative">
          <img [src]="imagePreview || profilePictureUrl">
          <label for="file-upload" class="custom-file-upload">
            <button *ngIf="changeProfileBtn" class="edit-btn" (click)="changeProfilePicClicked()">
              Edit
            </button>
          </label>
        </div>
        <form [formGroup]="uploadProfilePic" (ngSubmit)="submitProPic()" enctype="multipart/form-data">
          <input id="file-upload" type="file" (change)="handleFileChange($event)">
          <button type="submit" *ngIf="formField"
            class="flex items-center m-2 justify-center focus:outline-none text-black text-sm sm:text-base
             bg-yellow-400 hover:bg-yellow-500 rounded py-2 w-full transition duration-150 ease-in">
            <span class="uppercase">Submit</span>
          </button>
        </form>
        <mat-error *ngIf="showErrorMessage | async as error"> <b>{{ error }} </b></mat-error>
      </div>
    </div>
    <div class="w-2/4 m-5">
      <ng-container *ngIf="!user?.partner">
        <h1>Welcome User</h1>
      </ng-container> 
      <ng-container *ngIf="user?.partner">
        <h1>Welcome Partner</h1>
      </ng-container>
      <h2>{{user?.name}}</h2>
      <h2>{{user?.phoneNumber}}</h2>
      <h2>{{user?.email}}</h2>
    </div>

  </div>
</div>
<ng-container *ngIf="!user.partner">
  <div class="h-1/2 bg-white">
  </div>
</ng-container>


<ng-container *ngIf="user.partner">
  <app-add-feeds></app-add-feeds>
</ng-container>