

<form [formGroup]="addCategoryForm" enctype="multipart/form-data" (ngSubmit)="onaddCategory()">
  <h1 mat-dialog-title>{{ inputData.title }}</h1>
    <div mat-dialog-content>

      <mat-error *ngIf="showErrorMessage | async as error"> <b>{{ error }}</b></mat-error>
      <mat-form-field>
        <mat-label>Category Name</mat-label>
          <input formControlName="categoriesName" matInput>
          <mat-error *ngIf="addCategoryForm.controls['categoriesName'].errors?.['whitespace']">*Enter valid Categoryname</mat-error>
      </mat-form-field>
  

    </div>
    <div mat-dialog-actions>
      <a (click)="closePopup()" mat-raised-button color="warn">Close</a>
      <button mat-raised-button color="primary" type="submit">save</button>
  
    </div>
    </form>
