

<form [formGroup]="addEventForm" enctype="multipart/form-data" (ngSubmit)="onaddEvent()">
    <h1 mat-dialog-title>Add Event</h1>
      <div mat-dialog-content>
  
       
        <mat-form-field>
          <mat-label>Event Name</mat-label>
            <input formControlName="eventName" matInput>
            <mat-error *ngIf="addEventForm.controls['eventName'].errors?.['whitespace']">*Enter valid Eventname</mat-error>
        </mat-form-field>
    
  
      </div>
      <div mat-dialog-actions>
        <a (click)="closePopup()" mat-raised-button color="warn">Close</a>
        <button mat-raised-button color="primary" type="submit">save</button>
    
      </div>
      </form>
