<div class="flex justify-evenly">
    <!-- <div class="flex h-full w-1/2 "> -->
        <div class="flex h-full w-1/2">
        <form [formGroup]="orderForm" (ngSubmit)="onSaveOrder()">
            <mat-card>
                <h1>Book Your Order</h1>
                <mat-card-content>
                    <mat-form-field>
                        <mat-label>SelectDate</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field class="mat-50">
                        <mat-label>Select Category</mat-label>
                        <mat-select formControlName="categoryControl"
                            (selectionChange)="onCategoryChange($event.value)">
                            <mat-option [value]="category.id"
                                *ngFor="let category of categories ">{{category.categoriesName}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="mat-50">
                        <mat-label>Select Combo</mat-label>
                        <mat-select formArrayName="foodCombos" multiple (selectionChange)="onComboChange($event.value)">
                            <mat-option [value]="foodCombo"
                                *ngFor="let foodCombo of comboItemList ">{{foodCombo.comboName}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="mat-50">
                        <mat-label>Add Extra Item</mat-label>
                        <mat-select formArrayName="foodItems" multiple (selectionChange)="onItemChange($event.value)">
                            <mat-option [value]="foodItem" *ngFor="let foodItem of itemList ">{{ foodItem.itemName
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    `
                    <mat-form-field class="mat-50">
                        <mat-label>Select Event</mat-label>
                        <mat-select formControlName="event">
                            <mat-option [value]="event.id" *ngFor="let event of eventList ">{{ event.eventName
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="mat-50">
                        <mat-label>Select Venue</mat-label>
                        <mat-select formControlName="venue">
                            <mat-option [value]="venue" *ngFor="let venue of venueList ">{{ venue }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>People count</mat-label>
                        <input formControlName="peopleCount" type="number" matInput>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Decoration</mat-label>
                        <mat-select formControlName="decorationOption">
                            <mat-option [value]="decorationOption"
                                *ngFor="let decorationOption of decorationOptionList">{{ decorationOption
                                }}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="time-input-container">
                        <mat-form-field>
                            <mat-label>Time From</mat-label>
                            <input formControlName="timeFrom" matInput type="time">
                        </mat-form-field>

                        <mat-form-field>
                            <mat-label>Time To</mat-label>
                            <input formControlName="timeTo" matInput type="time">
                        </mat-form-field>

                    </div>

                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-raised-button color="primary" type="submit">Save & Next</button>
                </mat-card-actions>
            </mat-card>
        </form>
    </div>

        <div class="h-screen w-1/2 m-2 flex flex-col item-center md:block bg-yellow-300 rounded-xl">
        <h1>Selected Combos</h1>
        <div class="itemList">
            <ng-container *ngFor="let foodCombo of foodComboFormArray?.controls; let i = index">
                <mat-card>
                    <label>Combo Name: {{ foodCombo?.value.comboName }}</label>
                    <label>Combo Price: {{ foodCombo?.value.comboPrice }}</label>
                    <label>Description: {{ foodCombo?.value.description }}</label>
                </mat-card>
            </ng-container>
        </div>
    </div>
</div>