
mat-card{
    margin: 1%;
    text-align: left;
    border-radius: 3%;
    background-color: transparent;
    margin: 2%;
    padding: 2%;
}
label {
    margin: 1%;
    text-align: center;
    font-size: x-large;
    color: white;
    font-family: 'Montez', cursive;
}
.selected-items {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgb(24, 24, 32);
    margin: 2%;
    border-radius: 5px;
}
.selected {

    height: calc(100vh - 5rem); 
    overflow-y: auto;
}
h1 {
    margin: 6%;
    text-align: center;;
    font-family: 'Montez', cursive;
    font-size: xx-large;
    color: #fcda9a;
}
h2 {
    margin: 6%;
    text-align: center;;
    font-family: 'Montez', cursive;
    font-size: x-large;
    color: #fcda9a;

}

.mat-mdc-card{
    width: 100%;
    margin: 1%;
}
.mat-mdc-form-field{
    width: 95%;
    margin: 1%;
}

.mat-50{
    width: 48%;
    margin: 1%;
}

button{
    margin: 2px;
}
.time-input-container {
    display: flex;
  }
  
.mat-form-field {
    margin-right: 10px; 
  }

.order-form {
    background-image: url('/assets/page-title-3.jpeg');
    background-size: cover;
    background-position: center;
}