
mat-card{
    margin: 2%;
    text-align: left;
    border-radius: 3%;
    background-color: transparent;
    margin: 2%;
    padding: 2%;
    background-color: rgb(249, 249, 249);
   
}
h1 {
    font-weight: 900;
    text-align: center;
}
img{
    border-radius: 3%;
}

.mat-mdc-card{
    width: 100%;
    margin: 1%;
}
.mat-mdc-form-field{
    width: 98%;
    margin: 1%;
}

.mat-50{
    width: 48%;
    margin: 1%;
}

button{
    margin: 2px;
}
.time-input-container {
    display: flex;
  }
  
.mat-form-field {
    margin-right: 10px; 
  }

.itemList h1 {  
font-weight: 900;

}